doctype html
html(lang="en", dir="ltr")
	head
		meta(charset="utf-8")
		title Clement Galidie front-end developer
		link(rel="stylesheet", href="./assets/css/main.css")
	body
		.page
			h1.page__title Main title
			p.
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis optio sint obcaecati ratione numquam minus, tempora eligendi, voluptatem quam nihil sapiente! Nemo, eius vitae officia magnam dignissimos accusamus suscipit libero?	
		script(src="./assets/js/main.js")